<section>
  <h1>"Ah Bartleby! Ah humanity!"</h1>
  <blockquote>I am a rather elderly man. The nature of my avocations for the last thirty years has brought somewhat singular set of men, of whom as yet nothing that I know of has ever been written:—I mean the law-copyists or scriveners. I have known very many of them, professionally and privately, and if I pleased, could relate divers histories, at which good-natured gentlemen might smile, and sentimental souls might weep. But I waive the biographies of all other scriveners for a few passages in the life of Bartleby, who was a scrivener of the strangest I ever saw or heard of.</blockquote>
  <center>
  <!-- TODO: Do this with CSS! -->
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/bartleby_scrvnr" data-widget-id="619153589198524416">Tweets by @bartleby_scrvnr</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </center>
  <p>Download the book <a href="http://www.gutenberg.org/ebooks/11231">from Project Guttenber</a> or <a href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=bartleby+the+scrivener">buy from Amazon</a>. Created by <a href="https://twitter.com/fourtonfish">@fourtonfish</a>, read more <a href="https://fourtonfish.com/blog/2015-07-bartleby-the-twitterbot-nodejs-ttezel-twit-inreplytos/">here</a>.</p>
</section>
<!--
<script src="js/scripts.min.js"></script>
-->